#arlinablock {
  background: rgba(0,0,0,0.65);
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  z-index: 999999;
  animation: fadeInDown 1s;
}

#arlinablock .header {
  margin: 0 0 15px 0;
}

#arlinablock .inner {
  background: #000;
  color: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;
  width: 600px;
  padding: 40px;
  border-radius: 5px;
  margin: 7% auto 2% auto;
}

#arlinablock button {
  padding: 10px 20px;
  border: 0;
  background: rgba(0,0,0,0.15);
  color: #fff;
  margin: 20px 5px;
  cursor: pointer;
  transition: all .3s;
}

#arlinablock button:hover {
  background: rgba(0,0,0,0.35);
  color: #fff;
  outline: none;
}

#arlinablock button.active, #arlinablock button:hover.active {
  background: #fff;
  color: #222;
  outline: none;
}

#arlinablock .fixblock {
  background: #fff;
  text-align: left;
  color: #000;
  padding: 20px;
  height: 250px;
  overflow: auto;
  line-height: 30px;
}

#arlinablock .fixblock div {
  display: none;
}

#arlinablock .fixblock div.active {
  display: block;
  animation: fadeInUp .5s;
}

#arlinablock ol {
  margin-left: 20px;
}

@media (max-width:680px) {
  #arlinablock .inner {
    width: calc(100% - 80px);
    margin: auto;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

